
<div class="container col-xxl-8 py-5 __hedge-hero">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      
      <div class="col-8 col-sm-8 col-lg-8">
       
        <h1 class="display-5 fw-bold lh-1 mb-3"> The <span class="__hedge-name">Hedgehog Platform</span> 
          Beautiful release notes, for project managers and IT teams.</h1>

        <p class="lead">Keep your projects up to date, import your projects from GitHub and add more information to each
          commit.
          Now it is easier to know what changes have been made and generate documentation more quickly. </p>
  
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary disabled btn-lg px-4 me-md-2">Register (Closed) </button>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-lg-4">
        <img src="../../../../assets/images/hedgehog-logo-no-borders.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
          width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>