<div class="container-flex __hedge-home">
  <div class="row">
  </div>
</div>

<div class="container-flex __hedge-home-jumbo">
    <app-hero></app-hero>
</div>



<div class="container px-0 col-xl-10 col-xxl-10 py-5">
  <div class="row align-items-md-stretch">
    <div class="col-md-6 __hedge-jumbotron">
      <div class="h-100 p-5 text-white bg-dark rounded-3 __hedge-jumbotron-git">
        <h2>Manage your commits</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed ex sed leo fringilla ullamcorper.
          Nam sit amet ex eu est pulvinar ullamcorper sit amet sed risus.</p>
        <button class="btn btn-outline-light" type="button">View in GitHub</button>
      </div>
    </div>
    <div class="col-md-6 __hedge-jumbotron">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add multiples projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed ex sed leo fringilla ullamcorper.
          Nam sit amet ex eu est pulvinar ullamcorper sit amet sed risus.</p>
      </div>
    </div>
  </div>
</div>

<div class="container px-0 col-xl-10 col-xxl-10 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Hedgehog <small>(Closed Beta)</small></h1>
      <p class="col-lg-10 fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed ex sed leo fringilla ullamcorper. Nam sit
        amet ex eu est pulvinar ullamcorper sit amet sed risus.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <app-signup></app-signup>
    </div>
  </div>
</div>

<app-footer></app-footer>
